.kanbanCard{
  padding: 16px;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid #E6E4F0;
  background: #FFF;

  .cardTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .name{
    display: flex;
    align-items: center;
    color: rgba(86, 85, 92, 1);
    gap: 5px;

    h2{
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .description{
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(86, 85, 92, 0.8);

    p{
      font-size: 0.8rem;
    }
  }

  .nameAndDescription{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .text{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: grab;
    pointer-events: auto;
  }
  .user{
    font-weight: 500;
    font-size: 0.875rem;
  }

  .tags, .users{
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }
  .cardBottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.statusSquare {
  width: 12px;
  height: 12px;
  border-radius: 3px;
}


.headerStatus{
  display: flex;
  align-items: center;
  gap: 5px;

  span{
    color: rgba(130, 128, 143, 1);
    font-weight: 600;
    line-height: normal;
    font-size: 0.875rem;
  }
}

.headerItem{
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 99999999999999999999;
}

.plusIcon{
  background-color: rgba(86, 85, 92, 0.3);
  border-radius: 3px;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerIcons{
  display: flex;
  align-items: center;
  gap: 4px;
}

.tasks{
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 13px;
  min-height: 90vh;
  border-radius: 10px;
}

.noTasksText{
  color: rgba(86, 85, 92, 0.8);
  font-size: 1rem;
  font-style: italic;
  padding: 13px;
}
